<div class="topic">
  <div class="topic__header">
    <div><span class="font-black text-primary">#</span>{{topic.title}}</div>
    <div class="topic__author">
      <img width="64" src="./assets/account-avatar-profile-user-3-svgrepo-com.svg" alt="">
      Author
    </div>
  </div>
  <div class="topic__content">
    {{topic.content}}
  </div>
  <form [formGroup]="commentsForm" class="flex gap-5 justify-center items-center">
    <button (click)="isCommentsToggles=!isCommentsToggles" class="btn btn-primary">comment</button>
    <input formControlName="content" *ngIf="isCommentsToggles" type="text" placeholder="Comment content"
           class="input input-bordered input-primary"/>
    <button (click)="addComment()" *ngIf="isCommentsToggles" class="btn btn-primary flex justify-center items-center">
      +
    </button>
  </form>

  <div class="flex flex-col gap-2" *ngIf="isCommentsToggles">
    <ng-container *ngFor="let comment of topic.comments">
      <div class="comment">
        <span *ngIf="comment['authorCharacter'] !== 'jedi'" class="flex items-center gap-2">
          <img width="32" src="./assets/account-avatar-profile-user-3-svgrepo-com.svg" alt=""> {{comment["authorName"]}}
        </span>
        <span *ngIf="comment['authorCharacter'] === 'jedi'" class="flex items-center gap-2">
          <img width="32" src="./assets/jedi.svg" alt="">{{comment["authorName"]}}
        </span>
        <span>{{comment.content}}</span>
      </div>
    </ng-container>
  </div>
</div>
