.jedi, .sith{
  font-family: "JetBrains Mono", serif;
  font-size: 2em;
  font-weight: bolder;

}
.positive{
  outline: 1px solid royalblue;
  border-radius: 15px;
  transition-duration: 300ms;
}
.negative{
  outline: 1px solid red;
  border-radius: 15px;
  transition-duration: 300ms;
}
