<div class="hero min-h-screen bg-base-200 lg:w-full">
  <div class="hero-content w-full lg:justify-between flex-col lg:flex-row-reverse">

    <div class="text-center hidden lg:block lg:translate-x-14">
      <img class="animate-pulse" src="./assets/wave.svg" alt="">
    </div>

    <div class="card shrink-0 w-full max-w-xl shadow-2xl bg-base-100">

      <form [ngClass]="{'positive': positiveCharacter && isCharacterChosen, 'negative': !positiveCharacter && isCharacterChosen}" [formGroup]="form" class="card-body">
        <span>Enter valid email</span>
        <span>Enter valid password</span>
        <span>Choose your character</span>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input formControlName="email" type="email" placeholder="email" class="input  input-bordered focus:input-primary " required/>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input formControlName="username" type="text" placeholder="username" class="input input-bordered focus:input-primary" required/>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input formControlName="password" type="password" placeholder="password" class="input input-bordered focus:input-primary" required/>
          <label class="label">
            <a routerLink="/login" class="label-text-alt link link-hover">already have an account?</a>
          </label>
        </div>

        <div class=" h-32 flex w-full  justify-around">
          <img  (click)="changeCharacter('sith')" class="w-1/4 hover:scale-110 duration-300 hover:cursor-pointer" src="./assets/account-avatar-profile-user-3-svgrepo-com.svg" alt="">
          <div class="w-2/4 relative flex justify-around items-center ">
            <div class="sith">
              Sith
            </div>
            <div class="jedi">
              Jedi
            </div>
          </div>
          <img (click)="changeCharacter('jedi')" class="w-1/4 hover:scale-110 duration-300 hover:cursor-pointer" src="./assets/jedi.svg" alt="">
        </div>

        <div class="form-control mt-6">
          <button (click)="submitForm()" class="btn btn-primary">Register</button>
        </div>
      </form>

    </div>

  </div>
</div>
