<div class="hero min-h-screen bg-base-200 overflow-hidden max-h-screen">
  <div class="hero-content w-full lg:justify-between flex-col lg:flex-row-reverse">
   <div class="animate-ping">
     <img src="./assets/wave.svg" class="max-w-sm rounded-lg" />
   </div>
    <div>
      <h1 class="text-5xl font-bold">Topics web App </h1>
      <p class="py-6">You can easily create post or see other from anyone. Be the first who try it</p>
      <button routerLink="register" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
